<!-- Top Navigation Bar -->
<nav class="navbar">
  <div class="container">
    <span class="logo-name">Reecocefe</span>
    <div class="nav-links">
      <a href="#">Buy</a>
      <a href="#">Sell</a>
      <a href="#">Rent</a>
      <a href="#">Post Property</a>
      <a href="#">Contact Us</a>
    </div>
  </div>
</nav>


<!-- Main Content -->
<div class="main-content">
  <div class="search-bar">
    <h1>Find Your Dream Property with Reecocefe</h1>
    <input type="text" placeholder="Enter Locality / Project / Society / Landmark"
    [(ngModel)]="searchQuery" 
      (input)="onSearchChange(searchQuery)"  />
    <button>Search</button>
  </div>
  
</div>

<app-news-articles [searchQuery]="searchQuery" ></app-news-articles>
<app-footer>

</app-footer>



